{% extends "index.html" %}

{% block title %}
    welcome
{% endblock %}

{% block content %}
<div class="container mb-3">
  <form method="post" "action"="/contact">
  {%csrf_token%}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="enter your name here">
    </div>
    
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" >
    </div>

    <div class="form-group">
      <label for="phone">Phone number</label>
      <input type="tel" class="form-control" id="phone" name="phone" >
    </div>

    <div class="form-group">
      <label for="about">Tell us about yourself</label>
      <textarea class="form-control" id="desc" name="desc" rows="4" placeholder="Share a bit about yourself..."></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}